<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <ul>
      <% resource.errors.messages.each do |attribute, messages| %>
        <% if params[:item] && params[:item][attribute].present? || params[:item] && params[:item][attribute].to_s.blank? %>
          <% messages.uniq.each do |msg| %>
            <li><%= "#{attribute.to_s.humanize} #{msg}" %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>